extends templates/_basic

append template-variables
  - var colorCount = {main: [1, 2, 3, 4], neutral : [1, 2, 3, 4, 5, 6, 7, 8]}

block template-body
  include partials/_header

  main.l-container
    .l-wrap
      .sg-color
        .sg-color__group
          each instance, index in colorCount.main
            .sg-color__swatch--small(class="sg-background--main#{index + 1}")
          each instance, index in colorCount.neutral
            .sg-color__swatch--small(class="sg-background--grey#{index + 1}")

        .sg-color__group
          div
            each instance, index in colorCount.main
              .sg-color__swatch(class="sg-background--main#{index + 1}--light")
                .sg-color__overlay
                  span.sg-color__glyph--white Aa
          div
            each instance, index in colorCount.neutral
              .sg-color__swatch(class="sg-background--grey#{index + 1}")
                .sg-color__overlay
                  span.sg-color__glyph--white Aa
                  
        each instance, index in colorCount.main
          .sg-color__field(class="sg-background--main#{index + 1}")
            .sg-color__overlay
              span.sg-color__glyph--white Aa
              span.sg-color__glyph--black Aa
        each instance, index in colorCount.neutral
          .sg-color__field(class="sg-background--grey#{index + 1}")
            .sg-color__overlay
              span.sg-color__glyph--white Aa
              span.sg-color__glyph--black Aa